# Installer logs
# Installer logs
.idea/
__pycache__/
# Unit test / coverage reports
htmlcov/
.cache
.pytest_cache/
requirements-test.txt

# Environments
.env
.venv
venv/

virtenv*/

*.bak

.DS_Store

pytest.ini
test_scripts/
sample_data/
README.md
*.sh
*.template

