# Installer logs
pip-log.txt
pip-delete-this-directory.txt
./idea
.idea/
*.pyc
__pycache__/
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
# Environments
.env
.venv
venv/
virtenv*/
env.bak/

*.bak
.DS_Store
killserver.sh
pytest.ini

config.yaml.original
