# If you see this comment, you are using a config file that was temporarily
# generated for a test.
#
# config.yaml.test.template is automatically onverted to a temporary config.yaml in  integration_test.sh
#
iris_prefix: ${RUN_ID}
from_project: True
projects:
  - ${DEPLOYMENT_PROJECT}
  - ${TEST_PROJECT}
