# If you see this comment, you are using a config file that was generated for a test.
#
#  integration_test.sh uses this template to make a temporary config-test.yaml.
#
projects:
  - ${DEPLOYMENT_PROJECT}
  - ${TEST_PROJECT}
plugins: []
iris_prefix: ${RUN_ID}
specific_prefixes:
  Buckets: gcs${RUN_ID}
from_project: True
label_all_on_cron: False
# We generate a random token per-test-run as an additional isolation measure
pubsub_verification_token: ${PUBSUB_TEST_TOKEN}
