pyyaml==6.0
Flask==2.2.3
google-api-python-client==2.84.0
google-cloud-pubsub==2.15.0


ratelimit==2.2.1

google-cloud-compute==1.11.0
google-cloud-resource-manager==1.9.1
google-cloud-bigquery==3.9.0
google-cloud-storage==2.8.0

#Enable GAE's memory monitoring
appengine-python-standard==1.0.0

#For Google Cloud Profiler, you might need to
# - Add google-cloud-profiler here.
# - Edit main.py to set ENABLE_PROFILER True
# - Configure up app.yaml
# - Maybe add gunicorn to requirements.txt
# The   gunicorn requirement below is only needed if you add this line to app.yaml
# as a workaround to let Cloud Profiler work
# entrypoint: gunicorn -b :$PORT --worker-class=sync --workers=1 main:app
#
#gunicorn==19.5.0

